/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
.App {
  position: relative;
}
.navbar {
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  display: block;
  width: 100%;
  background-color: #1f1f2e;
  z-index: 1000;
}

.navdiv {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 55px;
}
.logo {
  font-size: 35px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  animation: text-appear 10s ease-in-out 1000;
  animation: text-appear 10s ease-out 1000;
}
nav ul {
  float: right;
}
li {
  list-style-type: none;
  display: inline-block;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 60px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 550;
  
}
li:hover {
  color: #00bcd4;
}


.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.section1 {
  background-color: #1f1f2e;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.hero span {
  text-transform: uppercase;
  display: block;
}

.text1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  animation: text-appear 3s ease-in-out 1;
}

.text2 {
  font-size: 30px;
  color: #00bcd4;
  opacity: 0;
  animation: fade-in 3s ease-in-out 1 forwards 1.5s;
}

.section1 button {
  padding: 10px 20px;
  background: #9f86ff;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  opacity: 0;
  animation: fade-in 3s ease-in-out 1 forwards 2s;
}

.section2 {
  background-color: #1f1f2e;
  max-height:100%;
  max-width: 100%;
  min-width: none;
  min-height: fit-content;
}

.aboutItem {
  color: white;
  display: flex;
  width: 50%;
  gap: 40px;
}
.myImage {
  position: relative;
  width: 200px; /* Adjust the size as needed */
  height: 200px;
  border-radius: 100%;
}

/* Apply circular shape and fit the image */
.myimage {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.myImage{
  max-width: 200px;
  min-width: 200px;
}
/* Rotating circular border effect */
.myImage::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 100%;
  box-sizing: 2px;
  background: conic-gradient(red, blue, green, yellow, red);
  -webkit-mask: 
      radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 61%);
  mask: 
      radial-gradient(circle, rgba(0, 0, 0, 0) 69%, rgba(0, 0, 0, 1) 61%);
  animation: rotateBorder 4s linear infinite;
  pointer-events: none;
}

@keyframes rotateBorder {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.aboutMe {
  width: 100%;
  justify-content: end;
}

.section3 {
  background: #1f1f2e;
  color: #fff;
  padding-right: 0px;
  font-family: Gill Sans, sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: fit-content;
}
.skill{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
.skill li{
  margin: 20px 0;
  padding: 10px;
}
.bar{
  background-color: #353b48;
  display: block;
  height: 20px;
  min-width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgb(0, 0, 0, 0.12), 0 1px 2px rgb(0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.bar:hover{
  box-shadow: 0 14px 28px rgba(55, 54, 54, 0.25), 0 10px 10px rgb(59, 59, 59)
}
.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.skill h1 {
  text-align: center;
}
.skill h3{
  margin: 5px;
}

.html {
  width: 92%;
  animation: html 3s;
}
.react {
  width: 85%;
  animation: react 3s;
}
.python {
  width: 80%;
  animation: python 3s;
}
.django {
  width: 75%;
  animation: django 3s;
}
.javascript {
  width: 90%;
  animation: javascript 3s;
}
.css {
  width: 90%;
  animation: css 3s;
}

.leadership {
  width: 92%;
  animation: html 3s;
}
.teamwork {
  width: 90%;
  animation: react 3s;
}
.communication {
  width: 88%;
  animation: python 3s;
}
.problemsolving {
  width: 95%;
  animation: django 3s;
}
.criticalthinking {
  width: 92%;
  animation: javascript 3s;
}
.timemanagement {
  width: 85%;
  animation: css 3s;
}
@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 92%;
  }
}
@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes javascript{
  0%{
    width: 0%;
  }
  100%{
    width: 87%;
  }
}
@keyframes react{
  0%{
    width: 0%;
  }
  100%{
    width: 84%;
  }
}
@keyframes python{
  0%{
    width: 0%;
  }
  100%{
    width: 82%;
  }
}
@keyframes django{
  0%{
    width: 0%;
  }
  100%{
    width: 72%;
  }
}

.section4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #1f1f2e;
  min-height: fit-content;
  max-width:none;
  
}





/* Animations */
@keyframes text-appear {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.contact .content {
  max-width: 800px;
  text-align: center;
  overflow: hidden;
}

.contact .content h2{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}

.contact .content p {
  font-weight: 300;
  color: #fff;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  overflow: hidden;
}
.container .contactInfo .box {
  position: relative;
  padding: 10px 0;
  display: flex;
  margin: 0;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #1f1f2e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  margin: 0;
}
.icon {
  color: #fff;
}
.icon i:hover {
  color: #00bcd4;
  
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
  margin-bottom: 0;
}
.container .contactInfo .box .text h3{
  margin: 0px;
  
}
.container .contactInfo .box .text p{
  margin: 0;
  margin-top: 5px;
}
.container .contactInfo .box .text h3:hover{
  font-weight: 500;
  color: #00bcd4;
}
.contactForm {
  width: 40%;
  padding: 40px;
}
.contactForm h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 0px;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 5px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 5px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  background-color: #1f1f2e;
  color: #fff;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.contactForm .inputBox input[type="submit"]:hover {
  background: #3edef4;
  transition: 0.5s;

}



/* Footer */
footer {
  background: #2f2f3f;
  color: white;
  text-align: center;

}

.footerone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.footerone h2{
  margin-top: 10px;
}
.footerimage {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.footerimage-container {
  margin-top: 8px;
  margin-left: 8px;
  position: relative;
  width: 200px; /* Adjust the size as needed */
  height: 200px;
  border-radius: 100%;
}


/* Rotating circular border effect */
.footerimage-container::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 100%;
  box-sizing: 2px;
  background: conic-gradient(red, blue, green, yellow, red);
  -webkit-mask: 
      radial-gradient(circle, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 61%);
  mask: 
      radial-gradient(circle, rgba(0, 0, 0, 0) 69%, rgba(0, 0, 0, 1) 61%);
  animation: rotateBorder 4s linear infinite;
  pointer-events: none;
}

@keyframes rotateBorder {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.footertwo {
  display: flex;               /* Enables Flexbox */
  justify-content: space-between; /* Equal spacing between items */
  width: 100%; 
  
}
.footeraboutme{
  padding: 20px;
    text-align: center;
    flex: 1;  /* Distributes equal width to each block */
    margin: 0 10px;
}
.footer-aboutme{
  background-color: #1f1f2e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  border: 5px solid transparent;
  animation: borderRotate 4s linear infinite;
}
@keyframes borderRotate {
  0% {
      border-image: linear-gradient(0deg, red, blue, green, yellow) 1;
  }
  25% {
      border-image: linear-gradient(90deg, red, blue, green, yellow) 1;
  }
  50% {
      border-image: linear-gradient(180deg, red, blue, green, yellow) 1;
  }
  75% {
      border-image: linear-gradient(270deg, red, blue, green, yellow) 1;
  }
  100% {
      border-image: linear-gradient(360deg, red, blue, green, yellow) 1;
  }
}
.footeradress {
  padding: 20px;
  text-align: center;
  flex: 1;  /* Distributes equal width to each block */
  margin: 0 10px;
}

.footernav li{
  color: white;
  padding: 20px;
    text-align: center;
    flex: 1;  /* Distributes equal width to each block */
    margin: 0 10px;
}
.footernav li:hover {
  color: #00bcd4;
  transition: 0.5s;
}
.footernav h3{
  padding: 20px;
  text-align: center;
  flex: 1;  /* Distributes equal width to each block */
  margin: 0 10px;
  display: block;
}

.footericon {
  margin-bottom: 20px;
}
.footericon i{
  margin-right: 20px;
}
.footericon i:hover{
  cursor: pointer;
  color: #3edef4;
}


@media (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  
  .navbar {
    position: relative;
    height: auto;
    padding: 0;
    background-color: #1f1f2e;
  }
  .navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-direction: row;
    height: auto;
    margin-right: 0;
  }
  nav ul {
    display: none; /* Hide the default nav links */
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -250px; /* Hidden by default */
    width: 250px;
    height: 100%;
    background-color: #1f1f2e;
    transition: left 0.3s ease-in-out;
    padding-top: 20px;
    z-index: 1000;
  }

  nav ul.show {
    left: 0; /* Slide in when active */
    display: flex;
  }

  nav ul li {
    display: block;
    text-align: left;
    padding: 15px 20px;
    margin: 0;
    color: white;
    font-size: 18px;
    border-bottom: 1px solid #333;
  }

  .menu-icon {
    font-size: 25px;
    color: white;
    cursor: pointer;
    display: block;
  }

  .close-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
  nav ul .close-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

  li {
    display: block;
    margin: 5px 0;
    text-align: center;
  }
  nav ul li:hover {
    background-color: #00bcd4;
    color: #1f1f2e;
  }
  
  .section {
    padding: 10px;
  }

  .text1 {
    font-size: 40px;
    letter-spacing: 4px;
  }

  .text2 {
    font-size: 20px;
  }

  .aboutItem {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .mainService {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-right: 0;
  }

  .contact {
    padding: 0px;
    margin-left: 15px;
  }
  .contact .container{
    gap: 0;
  }

  .contactForm {
    width: 40%;
    padding-left: 10px;
  }
  
  .contactInfo{
    padding-right: 20px;
  }

  .contact .content h2 {
    font-size: 28px;
  }

  .footerone {
    flex-direction: column;
    align-items: center;
  }

  .footertwo {
    flex-direction: column;
    gap: 20px;
  }
  .footertwo p{
    margin-left: 100px;
    margin-right: 2px;
    width: 200px;
  }
  .service {
    display: block;
  }
  .footer-aboutme p{
    text-align: center;
    flex: 1;  /* Distributes equal width to each block */
    
  }
  .footernav h3{
    min-width: fit-content;
    display: block;
  }
}